lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.old

pids
logs
results

npm-debug.log

node_modules
node_modules_mac
node_modules_ubuntu
*~

data/hist
data/doc

contain/doc/lib
contain/doc/srv
contain/real/lib
contain/real/srv
contain/hist/lib
contain/hist/srv
contain/express/lib
contain/express/srv
contain/express/express

.build